# Dependency directories
node_modules/

# Dotenv environment variables file
.env

# Logs
yarn-error.log

# Development IDE
.vscode/
.idea/

# Coverage
coverage/*

# Npm
.npmrc

# Package
package-lock.json

.vercel
